{% extends 'base.html' %}

{% block title %}Notes List{% endblock %}

{% block content %}
<h1 class="mb-4">Notes List</h1>
{% if user.is_authenticated %}
    <p>
        <a href="{% url 'note_create' %}" class="btn btn-primary">
            Create new note
        </a>
    </p>
{% endif %}
{% if notes %}
<div class="row g-4">
    {% for note in notes %}
        <div class="col-md-6 col-lg-4">
            <div class="card shadow-sm h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ note.title }}</h5>
                    <p class="card-text">{{ note.text }}</p>
                    <p class="mb-1"><strong>Category:</strong> {{ note.category.title }}</p>
                    <p class="mb-3"><strong>Reminder:</strong> {{ note.reminder }}</p>

                    <a href="{% url 'note_detail' note.pk %}" class="btn btn-primary btn-sm">Details</a>
                    <a href="{% url 'note_edit' note.pk %}" class="btn btn-warning btn-sm">Edit</a>
                    <a href="{% url 'note_delete' note.pk %}" class="btn btn-danger btn-sm">Delete</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% else %}
    <p class="text-muted">No notes yet</p>
{% endif %}
{% endblock %}