{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Notes App</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Notes list</h1>

    <p><a href="{% url 'note_create' %}">Create new note</a></p>

    {% for note in notes %}
        <div>
            <h2>
                <a href="{% url 'note_detail' note.pk %}">{{ note.title }}</a>
            </h2>
            <p>{{ note.text }}</p>
            <p>Category: {{ note.category.title }}</p>
            <p>Reminder: {{ note.reminder }}</p>
            <hr>
        </div>
    {% endfor %}
</body>
</html>